---
import Layout from "@/layouts/BlogPost.astro";
---

<Layout
    title="Terapia Online"
    subTitle="Cuidado emocional acessível, onde você estiver"
    description="Atendimento psicológico presencial em São José dos Campos para tentantes, gestantes e puérperas que buscam acolhimento e cuidado emocional."
    pubDate={new Date(2025, 5, 2)}
    heroImage="/images/optimized/therapy.avif"
    category="Serviços"
>
    <p>
        A terapia online é uma forma acolhedora, segura e prática de cuidar da
        sua saúde mental — sem precisar sair de casa.
    </p>
    <p>
        Se você está tentando engravidar, passou por uma perda gestacional, vive
        a gestação com ansiedade ou está enfrentando os desafios do puerpério,
        saiba que não precisa enfrentar tudo isso sozinha. A terapia pode ser o
        seu ponto de apoio emocional.
    </p>
    <p>
        Aqui, você será ouvida com respeito e empatia. O atendimento é
        individual, realizado por vídeo, com hora marcada, no sigilo da sua
        casa.
    </p>
    <div class="flex justify-center py-4">
        <a
            href="https://wa.me/message/JDCGIPVRCP6HO1"
            class="button uppercase"
            rel="noopener"
            target="_blank"
            onclick="gtag('event', 'conversion', {'send_to': 'AW-11020075250/6ULICNLmlOkaEPKB5IYp'})"
        >
           Quero agendar minha sessão</a
        >
    </div>
    <section class="py-2">
        <h2>Por que escolher a terapia online?</h2>
        <p>
            A terapia online é um recurso seguro, eficaz e acessível, ideal para
            mulheres que buscam acolhimento emocional em meio à rotina corrida.
        </p>
        <p>
            <b style="font-size: 1.125rem;line-height: 1.75rem;">
                &#128274; Plataforma segura e criptografada (Microsoft Teams ou
                Google Meet)</b
            >
            <br />
            Tudo o que você compartilha na sessão é protegido por criptografia de
            ponta a ponta — isso significa que nenhuma informação pode ser acessada
            por terceiros.
        </p>
        <p>
            <b style="font-size: 1.125rem;line-height: 1.75rem;"
                >&#128338; Duração das sessões:</b
            > 50 minutos.
        </p>
        <p>
            <b style="font-size: 1.125rem;line-height: 1.75rem;"
                >&#127911; Pré-requisitos:</b
            > fone de ouvido e conexão de internet estável.
        </p>
        <p>
            <b
                >&#127758;Atendimento para todo o Brasil e brasileiras no
                exterior</b
            >
        </p>
        <p>
            Cada sessão é conduzida com acolhimento, técnica e foco nas suas
            necessidades. Você não precisa saber por onde começar — esse é um
            espaço para se permitir sentir, falar e elaborar.
        </p>
    </section>
    <hr />
    <section class="flex flex-col py-2 gap-y-2">
        <h2>Como posso te ajudar?</h2>
        <p>A terapia online é indicada para você que:</p>
        <ul class="list-disc pl-5">
            <li>
                Está <b>tentando engravidar</b>, mas a ansiedade e o medo estão
                tomando conta
            </li>
            <li>
                Viveu uma <b>perda gestacional</b> e carrega um luto que ninguém
                vê.
            </li>
            <li>
                Está <b>grávida</b>, mas não consegue sentir tranquilidade
            </li>
            <li>
                Tem diagnóstico de <b>trombofilia gestacional</b> ou <b
                    >infertilidade</b
                > e se sente insegura
            </li>
            <li>
                Está no <b>puerpério</b>, com sentimentos confusos e intensos
            </li>
            <li>Sente culpa, medo, tristeza ou exaustão emocional</li>
            <li>⁠Têm dificuldades de se conectar com o corpo ou com o bebê</li>
            <li>⁠Sofrem com ansiedade, insônia ou crises emocionais</li>
            <li>
                ⁠Querem cuidar da saúde emocional antes de uma nova tentativa
            </li>
        </ul>
        <p>
            &#127793; A psicoterapia pode ser o seu espaço seguro de cuidado,
            expressão e ressignificação.
        </p>
    </section>
    <hr />
    <section class="py-2">
        <h2>O que você pode esperar da terapia?</h2>
        <ul class="list-disc pl-5">
            <li>
                ⁠Aprender a lidar com a ansiedade e os pensamentos acelerados
            </li>
            <li>
                ⁠Se fortalecer emocionalmente para uma nova tentativa ou para
                viver a gestação
            </li>
            <li>Elaborar o luto por uma gestação que não evoluiu</li>
            <li>Se reconectar com o seu corpo e com o sonho de ser mãe</li>
            <li>
                ⁠Encontrar mais leveza, significado e autoconfiança no processo
            </li>
        </ul>
    </section>
    <hr />
    <section class="py-2">
        <h2>Importante</h2>
        <p>
            ⁠A terapia online é tão eficaz quanto a presencial. Ela é
            regulamentada pelo Conselho Federal de Psicologia e segue os mesmos
            critérios éticos e técnicos dos atendimentos presenciais.
        </p>
    </section>
    <hr />
    <section class="py-2">
        <h2>Agende sua primeira sessão</h2>
        <p>
            ⁠Se você sente que está difícil carregar tudo isso sozinha, talvez
            seja hora de pedir ajuda. Clique no botão abaixo e entre em contato
            para agendar sua primeira sessão.
        </p>
    </section>
    <div class="flex justify-center pt-4">
        <a
            href="https://wa.me/message/JDCGIPVRCP6HO1"
            class="button uppercase"
            rel="noopener"
            target="_blank"
            onclick="gtag('event', 'conversion', {'send_to': 'AW-11020075250/6ULICNLmlOkaEPKB5IYp'})"
        >
           Quero agendar minha sessão</a
        >
    </div>
</Layout>
