---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Sobre mim"
	description="Psicóloga especializada em saúde mental perinatal. Acolho mulheres que carregam medo e dor ao tentar viver a maternidade com esperança."
	pubDate={new Date(2025, 5, 1)}
	heroImage="/images/banner.jpeg"
	category="Conheça mais"
>
	<p>
		Olá, eu sou Carolina Martins Machado, psicóloga clínica com formação em Terapia
		Cognitivo-Comportamental, e especialista em psicologia obstétrica.
		Atendo mulheres que estão vivendo o delicado caminho entre a perda
		gestacional e o desejo de tentar novamente.
	</p>

	<p>
		Minha conexão com a psicologia perinatal não começou nos livros. Ela
		nasceu da minha própria história, marcada por duas perdas gestacionais e
		o diagnóstico de trombofilia. Eu vivi na pele o medo de não conseguir
		ser mãe, a angústia dos exames, a ansiedade que consome, o receio de
		tentar de novo — e o silêncio que muitas vezes nos envolve nesse
		processo.
	</p>

	<p>
		Foi a psicologia que me ajudou a entender que a dor não precisa definir
		o nosso futuro. E foi a partir dessa vivência que encontrei o meu
		propósito: cuidar emocionalmente de mulheres que também estão tentando
		lidar com o luto, a esperança e a coragem de tentar de novo.
	</p>

	<p>
		No meu consultório, acolho mulheres do mundo todo que desejam encontrar
		alívio para a ansiedade, reconstruir a confiança no próprio corpo e
		voltar a sonhar com uma gestação saudável. Acredito no poder da terapia,
		no autocuidado como forma de enfrentamento e na força das pequenas
		escolhas diárias para transformar o medo em esperança.
	</p>

	<p>
		Se você está aqui, saiba que não está sozinha. E que é possível, sim,
		seguir em frente com mais leveza, clareza e suporte emocional.
	</p>
	<p>	&#128155; Com Carinho,</p>
	<p>Carolina Martins Machado - CRP 06/138552</p>
</Layout>
